{% extends 'bandas/layout.html' %}

{% block content %}
<body class = "album">
</body>
    <h2>Editar Album</h2>

    <form action="{% url 'bandas:editarAlbum' album.id %}" method="post" enctype='multipart/form-data'>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Guardar">
    </form>

    <a href="{% url 'bandas:index' %}">
      <button class = "button-menu">Voltar atrás</button>
    </a>

    <a href="{% url 'bandas:apagarAlbum' album.id %}">
      <button class = "button-cancel">Apagar</button>
    </a>

{% endblock %}