<html>
    <head>
        <title>Bandas</title>
        <head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'bandas/estilos.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/5d1319edfb.js" crossorigin="anonymous"></script>
    </head>
    </head>
    <body>
        <header>
            <h1>Bandas</h1>
        </header>

        <main>

            {% block content %}
            {% endblock %}

        </main>

        <footer>
            <p>Universidade Lusófona</p>
        </footer>
    </body>
</html>